* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    padding: 20px 35px;
    background-color:grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: "./hero-background.jpeg";
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero-cta {    
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color:black;
    font-size: 18px;
    line-height: 1.2;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
.hero {
        background-image: "hero-background.jpeg";
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        background-attachment: fixed;
        background-position: 80%;
      }

.container {
        float: left;
        font-family: Helvetica;
        padding: 50px;
        display: flex;
            }

.bio-image {
    border-radius: 50%;
    float: left;
    padding: 10px 10px 10px 10px;
        }


.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.projects-spec img {
  width: 80%;
  align-items: center;
}