
header {
        padding: 25px;
        background-color: gray;
        text-align: center;
        color: white;
        font-family: Helvetica;
       }
 
.container {
        float: left;
        font-family: Helvetica;
        padding: 50px;
        display: flex;
            }

img {
    border-radius: 50%;
    float: left;
    padding: 10px 40px 10px 10px;
        }

.bio {
    padding: 10px;
}

.contact {
    padding: 10px;
    width: 300px;
}

